
.main-heading{
    font-size: 30px;
    font-family: roboto;
    color: green;
    padding: 5px;
    text-align: center;
    font-style: italic;
    font-weight: bold;
}
.sub-heading{
    color:green;
    font-weight: bold;
    font-style: italic;
    font-family: roboto;
    padding:3px;

}
.paragraph{
    font-style: italic;
    font-family: roboto;
    font-size: 20px;



}
.mentorship{
    color:black;
    font-size: 25px;
    font-weight: bold;
    font-style: italic;
    font-family: roboto;

}
.heading
        {
         font-size: 30px;
    font-family: roboto;
    color: black;
    padding: 5px;
    text-align: center;
    font-style: italic;
    font-weight: bold;   
        }
.about-paragraph{
    font-style: italic;
    font-family: roboto;
    font-size: 20px;
    color: white;
        }
.about-heading{
     color:white;
    font-weight: bold;
    font-style: italic;
    font-family: roboto;
    padding: 5px;}
       